{% extends "layout.jinja2" %}
    {% block title %} Departures {% endblock %}
    {% block content %}
        <!--suppress HtmlUnknownTarget -->
        <form method="POST" action="/stops/save">
        <input type="text" name="id" aria-label="id" value="{{ id }}" hidden />
            <input type="text" name="name" aria-label="name" value="{{ name }}" hidden/>
        <button type="submit"> Save Stop </button>
    </form>
        <section>
            <h2>Departures:</h2>
            {% if not departures_info %}
                <p>No Services are currently available at this stop</p>
            {% endif %}
            <ul>
            {% for location, departure_info in departures_info.items() %}
                <section>
                    <h3> {{ location }} </h3>
                        {% for departure in departure_info %}
                            {% set hours, minutes, seconds = departure.time_to_arrive %}
                            <p>{{ hours }} hours, {{ minutes }} minutes, and {{ seconds }} seconds</p>
                            <p>{{ departure.route }} to {{ departure.dest }}
                        {% endfor %}
                </section>
            {% endfor %}
            </ul>
        </section>
    {% endblock %}