{% extends "layout.jinja2" %}
{% block title %} Options for: {{ origin[1] }} to {{ destination[1] }}:{% endblock %}
    {% block content %}
        <form action="/trip/save" method="POST">
           <input aria-label="origin" type="text" name="origin" value="{{ origin[0] }}" hidden/>
            <input aria-label="origin_name" type="text" name="origin_name" value="{{ origin[1] }}" hidden />
            <input aria-label="destination" type="text" name="destination" value="{{ destination[0] }}" hidden/>
            <input aria-label="destination_name" type="text" name="destination_name" value="{{ destination[1] }}" hidden/>
        <button type="submit">Save Trip</button>
        </form>
        {% for trip in trips %}
        <h1> Journey Option {{ loop.index }}: </h1>
        <section>
        {% for trip_info, trip_stops in trip.stops.items() %}
        <h2> Journey Leg {{ loop.index }}: </h2>
        <h3> {{ trip_info }} </h3>
            {% for trip_stop in trip_stops %}
                <p> {{ trip_stop }} </p>
            {% endfor %}
        {% endfor %}
        </section>
        <section>
            {% set depart_day, depart_time = trip.departure %}
            {% set arrival_day, arrival_time = trip.arrival %}
            <p> <i>{{ depart_day }} - {{ depart_time }} to {{ arrival_day }} - {{ arrival_time }} </i></p>
            <p style="font-size: 15px"> <b>Trip Duration: {{ trip.total_duration }} minutes Cost: {{ trip.total_fare }} </b> </p>
        </section>
        {% endfor %}
    {% endblock %}