<!DOCTYPE html>
    <html lang="en" style="height: 100%">
        <head>
            <title> Trip Planner API </title>
        </head>
        <body style="height: 100%">
            <section>
                <h1> {% block title %} {% endblock %}</h1>
                <nav>
                    <a href="/">Home</a>
                    <a href="/stops">Stop Departures</a>
                    <a href="/trip/planner">Trip Planner</a>
                    <a style="float: right" id="currentTime"></a>
                </nav>
                <script>
                    const date = new Date();
                    const item = document.getElementById("currentTime");
                    console.log(date.toLocaleString());
                    item.innerText = date.toLocaleString();
                </script>
            </section>
            <section>
            {% block content %} {% endblock %}
            </section>
        </body>
    </html>