{% extends "layout.jinja2" %}
    {% block title %} Search for stop:  {% endblock %}
    {% block content %}
    <h2> Search Departures By stop </h2>
    <div>
        <form method="GET" action="/stops">
            <div style="display: flex">
            <label> Search: <input type="search" name="query"/> </label>
            <label> Day: <input type="date" name="date"/></label>
                <label>Time: <input type="text" name="time" placeholder="eg. 09:30AM"/> </label>

            </div>
            <div>
                <label> Trains <input type="checkbox" name="1" value="1"/></label>
            </div>
            <div>
                <label> Light Rail: <input type="checkbox" name="4" value="1"/> </label>
            </div>
            <div>
                <label> Bus: <input type="checkbox" name="5" value="1"/> </label>
            </div>
            <label> Suburb <input name="suburb" type="checkbox"  value="1"/></label>
            <button type="submit"> search </button>
        </form>
    <div>
    <section>
        <ul>
        {% for id, location in data %}
            <li>
                {% if id != '' or time != '' %}
                    <a href="/stops/departures/{{ id }}?date={{ date }}&time={{ time }}">{{location}}</a>
                {% else %}
                    <a href="/stops/departures/{{ id }}">{{location}}</a>
                {% endif %}
            </li>

        {% endfor %}
        </ul>
        {% if not data %}
            <p> No Results </p>
        {% endif %}
    </section>
    {% endblock %}
