{% extends "layout.jinja2" %}
    {% block title %} Search for stop:  {% endblock %}
    {% block content %}
        <!--suppress ALL -->
        <h2> Search Departures By stop </h2>
    <section>
        <form method="GET" action="/stops">
            <div style="display: flex">
            <label> Search: <input type="search" name="query"/> </label>
            <label> Day: <input type="date" name="date"/></label>
                <label>Time: <input type="text" name="time" placeholder="eg. 09:30AM"/> </label>

            </div>
            <div>
                <label> Trains <input type="checkbox" name="1" value="1"/></label>
            </div>
            <div>
                <label> Light Rail: <input type="checkbox" name="4" value="1"/> </label>
            </div>
            <div>
                <label> Bus: <input type="checkbox" name="5" value="1"/> </label>
            </div>
            <label> Suburb <input name="suburb" type="checkbox"  value="1"/></label>
            <button type="submit"> search </button>
        </form>
    </section>
        <section>
        <ul>
        {% if not data %}
            <p>No results Found.</p>
        {% else %}
        {% for id, location, geocode in data %}
            <p>{{ location }}</p>
            <li>
                {% if date is none or time is none %}
                    <ul>
                    <li><a href="/stops/departures/{{ id }}">Departures</a></li>
                {% else %}
                      <li><a href="/stops/departures/{{ id }}?date={{ date }}&time={{ time }}">Departures</a></li>
                {% endif %}
                <li><a href="/stops/status/{{ id }}"> Status Info </a></li>
                <li>
                    {% if geocode %}
                        {% set long, lat = geocode %}
                    <img src="https://maps.googleapis.com/maps/api/staticmap?center={{ long }},{{ lat }}&zoom=15&size=300x300&markers=color:blue%7Clabel%7Clabel:1%7C{{ long }},{{ lat }}&key=AIzaSyB4qDToErH19GfYzW5xOKeUmed61Y_C9Cs"/></li>
                    {% endif %}
                </ul>
            </li>
        {% endfor %}
        {% endif %}
        </ul>
    </section>
    {% endblock %}
