{% extends "layout.jinja2" %}
    {% block title %} Search for stop:  {% endblock %}
    {% block content %}
    <h2> Search Departures By stop </h2>
    <div>
        <form method="GET" action="/stops">
            <label> Search: <input type="search" name="query"/> </label>
            <div>
                <label> Trains <input type="checkbox" name="1" value="1"/></label>
            </div>
            <div>
                <label> Light Rail: <input type="checkbox" name="4" value="1"/> </label>
            </div>
            <div>
                <label> Bus: <input type="checkbox" name="5" value="1"/> </label>
            </div>
            <label> Suburb <input name="suburb" type="checkbox"  value="1"/></label>
            <button type="submit"> search </button>
        </form>
    <div>
    <section>
        <ul>
        {% for id, location in data %}
            <li>
                <a href="/departures/{{ id }}">{{location}}</a>
            </li>

        {% endfor %}
        </ul>
        {% if not data %}
            <p> No Results </p>
        {% endif %}
    </section>
    {% endblock %}
