[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
astroid = "==2.3.1"
certifi = "==2019.9.11"
click = "==7.0"
entrypoints = "==0.3"
gunicorn = "==19.9.0"
isort = "==4.3.21"
itsdangerous = "==1.1.0"
lazy-object-proxy = "==1.4.2"
mccabe = "==0.6.1"
python-dateutil = "==2.8.0"
python-dotenv = "==0.10.3"
six = "==1.12.0"
swagger-client = {editable = true,git = "https://github.com/joeyabouharb/opendata-swagger",ref = "master"}
trip-planner = {editable = true,git = "https://github.com/joeyabouharb/trip-planner-app.git",ref = "master"}
typed-ast = "==1.4.0"
urllib3 = "==1.25.6"
wrapt = "==1.11.2"
Flask = "==1.1.1"
Jinja2 = "==2.10.3"
MarkupSafe = "==1.1.1"
Werkzeug = "==0.16.0"

[requires]
python_version = "3.7"
