astroid==2.3.1
certifi==2019.9.11
Click==7.0
entrypoints==0.3
Flask==1.1.1
gunicorn==19.9.0
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.10.3
lazy-object-proxy==1.4.2
MarkupSafe==1.1.1
mccabe==0.6.1
python-dateutil==2.8.0
python-dotenv==0.10.3
six==1.12.0
-e git+https://github.com/joeyabouharb/opendata-swagger@adbd714778503337a863d4d9f80b7a4266b7e367#egg=swagger_client
-e git+https://github.com/joeyabouharb/trip-planner-app.git@a538eaa9b45f98d4a26a9501d761a2f4f8115a94#egg=trip_planner
typed-ast==1.4.0
urllib3==1.25.6
Werkzeug==0.16.0
wrapt==1.11.2

